

.taskStyle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  height: 4.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
}

.text {
  width: 40rem;
}

.trash {
  color: var(--gray-300);
}