

.form {
  display: flex;
  justify-content: center;  
}

.sectionForm {
  display: flex;
  width: 46rem;
  height: 3.25rem;
  gap: 0.5rem;
  margin-top: -1.7rem;
}

.sectionForm textarea {
  width: 40rem;
  border-radius: 6px;
  border: none;
  padding: 1rem;
}

.sectionForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 6rem;
  border-radius: 6px;
  border: none;
  background-color: var(--blue);
  font-size: 18px;
  transition: 0.2ms;
}

.sectionForm button:hover {
  background-color: var(--blueDark);
}






